html {
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    padding: 0px 35px 0px 0px;
}

nav {
    padding: 5px 10px;
    background-image: -webkit-linear-gradient(45deg, #ff006e 38%, #fb5607 62%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}

.title {
    margin-top: 66px;
    height: 650px;
    align-content: center;
    background-image: url("../images/gabin-vallet.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(255, 94, 94, 0.4);
}
.title .small {
    margin: 0px 0px 0px 160px;
    padding: 0px;
    text-transform: uppercase;
    color: white;
    background-image: -webkit-linear-gradient(45deg, #ff006e 38%, #fb5607 62%);
    width: 250px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}
.title .huge {
    font-size: 12rem;
    margin: 0;
    line-height: 0.6;
    text-shadow: 1px 2px 1px -webkit-linear-gradient(45deg, #ff006e 38%, #fb5607
                62%);
    color: white;
    padding-left: 30px;
}
.info {
    padding: 60px auto;
    align-content: center;
    background-image: url("../images/jean-philippe-delberghe.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(179, 247, 179, 0.4);
}
.info p {
    padding: 0px 20%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;
}
.info a {
    background-color: black;
    color: white;
    padding: 0px 10px;
    border-radius: 15px;
    background-image: -webkit-linear-gradient(45deg, #ff006e 38%, #fb5607 62%);
    text-decoration: none;
    white-space: nowrap;
}
.large-info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.tag-line h1 {
    font-size: 3rem;
    margin: 0px;
}
.tag-line {
    text-align: center;
}
.tag-line h2 {
    font-size: 3rem;
    margin: 0;

    /** TEXT GRADIENT */
    color: #f2f5f7;
    background-image: -webkit-linear-gradient(45deg, #ff006e 38%, #fb5607 62%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.gallery > div > img {
    width: 180%;
    height: 100%;
    object-fit: cover;
}

.gallery > div {
    flex: 1 1 150px;
}

.quote {
    padding: 30px 10%;
    background-image: url("../images/martins-zemlickis.jpg");
    background-size: cover;
    color: white;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(40, 50, 36, 0.7);
    height: 300px;
    align-content: center;
}

.quote h2 {
    text-shadow: 2px 2px 8px black;
}

.event {
    display: flex;
    justify-content: center;
    background-color: #8a01f333;
    padding: 60px 40px;
}

.event img {
    width: 30%;
    height: 50%;
    border-radius: 40px;
}

.details {
    padding: 20px 30px 20px 50px;
    align-content: center;
    width: 60%;
}

#catch {
    font-size: 6rem;
    margin: 0;
    line-height: 1.3;
}

.details strong {
    background-color: black;
    color: white;
    padding: 0px 10px;
    border-radius: 15px;
    background-image: -webkit-linear-gradient(45deg, #ff006e 38%, #fb5607 62%);
    white-space: nowrap;
}

footer {
    background-image: -webkit-linear-gradient(45deg, #ff006e 38%, #fb5607 62%);
    color: white;
    padding: 30px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    align-items: left;
    line-height: 2.5;
}

footer ul li {
    padding: 0px 35px 0px 0px;
}

@media screen and (max-width: 920px) {
    .title .huge {
        width: 60%;
        line-height: 0.85;
    }
    #catch {
        font-size: 5rem;
    }
}

@media screen and (max-width: 830px) {
    #catch {
        font-size: 4rem;
    }
}
@media screen and (max-width: 760px) {
    .tag-line h1 {
        display: none;
    }
    .tag-line h2 {
        font-size: 2rem;
        margin-top: 30px;
    }
    .info-desc {
        margin-bottom: 30px;
    }

    #catch {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 680px) {
    #catch {
        font-size: 3rem;
    }
    .event {
        padding: 30px;
    }
}
@media screen and (max-width: 590px) {
    #catch {
        font-size: 3rem;
    }
    .event {
        padding: 25px;
        flex-direction: column;
    }
    .event img {
        width: 100%;
    }
    .tag-line h2 {
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .details {
        width: 100%;
    }
}
@media screen and (max-width: 505px) {
    .title .huge {
        /* width: 60%;
        line-height: 0.85; */
        font-size: 10rem;
    }
    .title .small {
        margin-left: 40px;
    }
}
